@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", Arial, Helvetica Neue, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

main {
  width: 100vw;
  height: 100vh;
}

button {
  background: none;
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
a {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.story-one {
  background-image: url("../public/img/background_one.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.story-two {
  background-image: url("../public/img/background_two.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outerContainer {
  width: 420px;
  height: 780px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 15px;
}

.outerContainer > div:first-child {
  /* overflow: scroll; */
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  flex: auto;
  justify-content: space-between;
}

.paragraphContainer {
  /* max-height: 100%; */
  transform: scaleY(-1);
  overflow: hidden;
}
.choiceContainer {
  /* position: absolute;
  bottom: 0; */
  padding-top: 30px;
  margin-top: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  height: 310px;
}

.answer_illu {
  width: 150px;
  transform: translate(10px, 10px);
}


.rightImages,
.leftImages {
  height: 700px;
  width: 500px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* pointer-events: none; */
}
.leftImages {
  left: 10%;
}

.rightImages {
  /* display:none; */
  right: 0%;
  width: 440px;
}

.rightImages > img,
.leftImages > img {
  display: block;
}

.rightImages >img:not(:first-child),
.leftImages > img:not(:first-child) {
  margin-top: 75px;
}

.discussion_text {
  float: right;
  transform: scaleY(-1);
  background-color: transparent;
  border-radius: 15px;
  max-width: 100%;
  display: inline-block;
  padding: 16px 35px;
  border: #fdb572 2px solid;
  color: #fdb572;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 15px;
}
.discussion_text:not(:last-child) {
  margin: 0 0 15px 0;
}
.discussion_text.left {
  float: left;
  color: #3e00a4;
  border: none;
  background-color: #e7f291;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 15px;
}

.paraphThough {
  color: rgba(255, 255, 225, 0.5);
  letter-spacing: 2%;
  transform: scaleY(-1);
  text-align: center;
}

.choice {
  margin: 0;
}
.choice:first-child .answer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.choice:last-child .answer {
  border-bottom-right-radius: 15px;
}
.story-two .choice:last-child .answer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0;
}
.choice:not(:first-child) .answer {
  border-top: none;
}

.answer {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  padding: 18px;
  font-size: 20px;
}

.answer:hover {
  background-color: #ffffff;
  color: black;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.lovebar-container {
  height: 360px;
  width: 30px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  top: calc(50% - 30px);
  left: 60px;
  transform: translateY(-50%);
  box-sizing: content-box;
}
.lovebar {
  height: 100%;
  width: 30px;
  background-color: black;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.lovebar-icon {
  position: absolute;
  bottom: -5px;
  transform: translateY(100%);
}

.timer-container {
  height: 360px;
  width: 30px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  top: calc(50% - 30px);
  right: 60px;
  transform: translateY(-50%);
  box-sizing: content-box;
}
.timer {
  height: 100%;
  width: 30px;
  background-color: black;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.players {
  position: absolute;
  bottom: 0;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.players .name.active::before {
  content: "Tu joues";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  color: #e7f297;
  text-transform: none;
}

.players .user,
.players .friend {
  background-color: #3e00a4;
}

.players .user {
  text-transform: uppercase;
  position: absolute;
  width: 240px;
  padding: 25px 0;
  bottom: 0;
  left: 120px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #e7f297;
}
.players .user.active::before {
  content: "Tu joues";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  color: #e7f297;
  text-transform: none;
}

.players .user.active {
  background-color: #e7f297;
  color: #3e00a4;
}

.players .friend {
  text-transform: uppercase;
  position: absolute;
  width: 240px;
  padding: 25px 0;
  bottom: 0;
  right: 120px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fdb572;
}

.players .friend.active {
  background-color: #fdb572;
  color: #3e00a4;
}

.though-mode .choiceContainer {
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  z-index: 22;
}

.bg-though-mode {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3e00a4;
  z-index: 20;
}

.story-two .discussion_text {
  transform: scaleY(-1);
  border: #e7f291 2px solid;
  color: #e7f291;
  background-color: transparent;
  padding: 16px 35px;
}
.story-two .discussion_text:not(:last-child) {
  margin: 0 0 15px 0;
}
.story-two .discussion_text.right {
  background-color: #fdb572;
  color: #3e00a4;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0;
}

.though-mode .bg-though-mode {
  opacity: 1;
  pointer-events: visible;
}

.though-mode .choiceContainer .choice {
  flex: 1;
  width: 100%;
  margin-bottom: 30px;
}
.though-mode .choiceContainer .choice .answer {
  height: 100%;
  border-style: dashed;
}
.though-mode .choiceContainer .choice .answer:hover {
  background-color: #fdb572;
  color: #3e00a4;
}
.though-mode .choiceContainer .choice:first-child .answer {
  border-bottom-right-radius: 0;
}
.though-mode .choiceContainer .choice:last-child .answer {
  border-bottom-right-radius: 15px;
}
